@import '../../../../index';

.medicalCatalogue {
  width: 100%;
  height: 100%;
  background-color: $white-default;
  .header {
    height: rem(50px);
    width: 100%;
    padding: rem(10px) rem(12px);
    box-sizing: border-box;
  }
  .main {
    width: 100%;
    height: calc(100% - 40px);
    padding: 0 rem(12px) rem(10px);
    box-sizing: border-box;
    display: flex;
    .mainLeft {
      width: rem(203px);
      height: 100%;
      padding-bottom: rem(10px);
    }
    .mainright {
      width: calc(100% - 203px);
      height: 100%;
    }
    .mainright > div > div:first-child {
      line-height: rem(18px);
      height: rem(18px);
      margin-bottom: rem(12px);
    }
    .mainright > div > div:last-child {
      height: calc(100% - 72px);
    }
  }
}
