@import './../../../../index.scss';

.root {
  float: left;
  box-sizing: border-box;
  margin: rem(30px);
  margin-bottom: rem(32px);
  width: auto;
  font-size: $font-title-size;
  &:after,
  &:before {
    display: table;
    content: ''
  }
  &:after {
    clear: both;
    visibility: hidden;
    font-size: 0;
    height: 0;
  }
}

.itemLabel {
  float: left;
  text-align: right;
  overflow: hidden;
  padding-right: rem(10px);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.itemSelect {
  float: left;
}
