@import '../../../../index.scss';

.operation {
  width: 100%;
  height: 100%;
  display: flex;
  > div:first-child {
    width: 100%;
    height: 100%;
    > div:first-child {
      width: 100%;
    }
    > div:last-child {
      width: 100%;
    }
  }
  > div:last-child {
    margin-left: rem(12px);
    flex: rem(240px) 0 0;
    height: 100%;
  }
}
