//菜单样式修改
.ant-layout-sider {
  border-right: 1px solid @border-color;
}

.ant-menu {
  font-family: @font-family;
  &.ant-menu-inline {
    border-right: none;
  }
  //菜单标题字体
  .ant-menu-item-group-title {
    line-height: 1;
    background: @border-color;
    color: @font-color;
    font-size: 15px;
    display: none;
  }
  .ant-menu-item-group {
    //border-bottom: 1px solid @border-color;

    .ant-menu-submenu-title, .ant-menu-item {
      font-size: 13px;
      line-height: 36px;
      height: 36px;

      .ant-menu-sub.ant-menu-inline {
        .ant-menu-item {
          font-size: 13px;
          line-height: 36px;
          height: 36px;
        }
      }
    }

  }
  .ant-menu-sub.ant-menu-inline > .ant-menu-item,
  .ant-menu-sub.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
    font-size: 13px;
    line-height: 36px;
    height: 36px;
  }

}

.ant-menu-item:hover, .ant-menu-submenu-title:hover {
  color: @hover-bg-color;
}

