/*整体布局*/
#example {
  width: 100%;
  height: 100%;
}

.ant-layout {
  width: 100%;
  height: calc(~"100% - 50px");
}

.ant-layout-content {
  width: 100%;
  height: calc(~"100% - 30px");
}

.content {
  width: 100%;
  height: 100%;
}

.ant-select-dropdown-menu {
  font-family: "Microsoft Yahei";
}

//标签页下外边距
.ant-tabs-bar {
  margin-bottom: 0px !important;
}

//标徽样式
.ant-badge-count {
  height: 16px !important;
  line-height: 16px !important;
  font-size: 11px !important;
  padding: 0 !important;
}

:focus {
  outline: 0 !important;
}
.oak-icon{
  padding:0 6px;
  display:inline-block;
  cursor:pointer;
  &:hover{
    color:@primary-color;
  }
}
