/*清除样式*/
*{margin: 0;padding: 0;}
ul,li,ol{list-style-type: none}
a{text-decoration: none !important;color: inherit;}
img{width: 100%;}
body {
  margin: 0 auto !important;
  max-width: 640px
}





.header_top{
  margin-top: 0.1rem;
  padding: 0.1rem 0.15rem;
  display: flex;
  justify-content: center;
  height: 1.1rem;
}
.logo{
  width: 1rem;
  margin-right: .01rem;
}
.logo_text{
  width: 5rem;
}
.logo_text_top{
  display: flex;
  justify-content: space-between;
}

.logo_name{
  width: 1.4rem;
  display: flex;
  align-items: center;
}

.logo_tel p:nth-child(1){
  font-size: .2rem;
  color: #b82634;
  text-align: right;
}
.logo_tel p:nth-child(2){
  font-size: .3rem;
  color: #252323;
}
.logo_text_bottom{
  font-size: .2rem;
  color: #ae2431;
  border: 1px solid #ae2431;
  text-align: center;
}


.nav{
  padding: 0 0.15rem;
}
.nav ul{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.nav ul li{
  font-size: .2rem;
  padding: 0.15rem 0;
  text-align: center;
  flex: 1;
  margin: 0.01rem;
  color: #fff;
  background: -webkit-linear-gradient(#db394d, #b72634); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#db394d, #b72634); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#db394d, #b72634); /* Firefox 3.6 - 15 */
  background: linear-gradient(#db394d, #b72634); /* Chrome */
}
.nav ul .active{
  color: #ae2431;
  background: #fff;
  box-shadow: 0px 0px 1px 1px #d9d9d9;
}

.header_input{
  display: flex;
  justify-content: center;
  position: relative;
  margin: 0.1rem 0;
}
.header_input input{
  outline:none;
}
.header_input input:nth-child(1){
  display: block;
  position: relative;
  left: 0.25rem;
  margin: 0 auto;
  width: 5.6rem;
  height: 0.45rem;
  border: 2px solid #eee;
  border-radius: 1rem;
  padding-left: 0.1rem;
  font-size: 0.2rem;
}
.header_input input:nth-child(2){
  position: relative;
  left: -0.3rem;
  width: .5rem;
  height: .5rem;
  background: url("../img/header_top_btm.png") no-repeat;
  background-size: contain;
  border: none;
  color: transparent;
}


section{
  position: relative;
}



.banner{
  position: relative;
  overflow: hidden;
}
.banner .swiper-container-banner {
  width: 100%;
  height: 100%;
}
.banner .swiper-slide {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.banner .swiper-container-horizontal>.swiper-pagination-bullets{
  bottom: 0;
}

.banner .swiper-pagination-bullet{
  width: .8rem !important;
  height: .04rem !important;
  border-radius: 0 !important;
  background-color: #fff !important;
  opacity: 1;
}
.banner .swiper-pagination-bullet-active{
  background-color: #ae2431 !important;
}


.banner_bottom{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  height: 1rem;
  box-shadow: 0px 2px 1px 1px #eee;
}
.banner_bottom div{
  height: 1rem;
  text-align: center;
  flex: 1;
}
.banner_bottom div:nth-child(2){
  color: #fff;
  background: -webkit-linear-gradient(#db394d, #b72634); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#db394d, #b72634); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#db394d, #b72634); /* Firefox 3.6 - 15 */
  background: linear-gradient(#db394d, #b72634); /* Chrome */
}
.banner_bottom div p:nth-child(1){
  font-size: 0.36rem;
  margin-top: .1rem;
}
.banner_bottom div p:nth-child(2){
  font-size: 0.2rem;
}



.title{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.32rem auto;
}


.main_1{
  padding: 0.3rem 0.15rem;
}
.main_1 .title{
  width: 2.6rem;
}
.main_1_box_main{
  display: flex;
  justify-content: space-evenly;
  margin: 0.4rem 0;
}
.main_1_box_left,
.main_1_box_right{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 1.1rem;
  width: 2.35rem;
  border: 2px solid #ae2431;
}
.main_1_box_left div,
.main_1_box_right div{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 0.8rem;
  width: 1.8rem;
}
.main_1_box_left p,
.main_1_box_right p{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  margin-top: -0.3rem;
  width: 0.2rem;
  height: 0.6rem;
  background-color: #fff;
}
.main_1_box_left p{
  left: -0.1rem;
}
.main_1_box_right p{
  right: -0.1rem;
}
.main_1_box_left span,
.main_1_box_right span{
  display: inline-block;
  width: 0.1rem;
  height: 0.1rem;
  background-color: #e06438;
  transform: rotate(45deg);
}


.main_2{
  padding: 0rem 0.15rem;
}
.main_2 .title{
  width: 2.85rem;
}

.main_2_box ul{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.main_2_box ul li{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
  width: 1.4rem;
  height: 0.6rem;
  border: 1px solid #eee;
}
.main_2_box ul li a{
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_2_box ul li:nth-child(1),
.main_2_box ul li:nth-child(2),
.main_2_box ul li:nth-child(3){
  border-top: 1px solid #fff;
}
.main_2_box ul li:nth-child(19),
.main_2_box ul li:nth-child(20),
.main_2_box ul li:nth-child(21){
  border-bottom: 1px solid #fff;
}
.main_2_box ul li:nth-child(1),
.main_2_box ul li:nth-child(4),
.main_2_box ul li:nth-child(7),
.main_2_box ul li:nth-child(10),
.main_2_box ul li:nth-child(13),
.main_2_box ul li:nth-child(16),
.main_2_box ul li:nth-child(19){
  border-left: 1px solid #fff;
}
.main_2_box ul li:nth-child(3),
.main_2_box ul li:nth-child(6),
.main_2_box ul li:nth-child(9),
.main_2_box ul li:nth-child(12),
.main_2_box ul li:nth-child(15),
.main_2_box ul li:nth-child(18),
.main_2_box ul li:nth-child(21){
  border-right: 1px solid #fff;
}
.main_2_box ul li:nth-child(21) a{
  border: 1px solid #b02936;
  border-radius: 1rem;
  width: 1.4rem;
  height: 0.5rem;
}
.main_2_box ul li:nth-child(21) a img{
  width: 80%;
}



.advertising_1{
  height: 2rem;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
}
.advertising_box{
  width: 100%;
  background: url("../img/advertising_bg.jpg") no-repeat center bottom;
  background-size: cover;
  height: 1.5rem;
  display: flex;
  justify-content: center;
}
.advertising_left{
  width: 2.3rem;
  position: relative;
  left: -0.3rem;
  top: -0.15rem;
}
.advertising_center{
  width: 4rem;
  color: #fff;
}
.advertising_center p:nth-child(1){
  font-size: .2rem;
}
.advertising_center span{
  display: block;
  font-size: .2rem;
}
.advertising_center p:nth-child(3){
  font-size: .2rem;
}
.advertising_center a{
  text-align: center;
  font-size: .2rem;
  display: inline-block;
  background: url("../img/advertising_btm.png") no-repeat;
  background-size: contain;
  width: 1.4rem;
  height: .5rem;
}
.advertising_right{
  width: 1.2rem;
}


.main_3{
  background: url("../img/main_3_bg.png") no-repeat center;
  background-size: cover;
  padding: .3rem 0 .6rem 0;
}

.main_3 .title{
  width: 4rem;
}


.main_3_box_text{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
}
.main_3_box_text_img{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 0.1rem;
  width: 1.5rem;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #fff;
  z-index: 5;
  background-color: #fff;
}
.main_3_box_text_img img{
  height: 100%;
}
.main_3_box_text_txt{
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.4rem;
  height: 0.6rem;
  width: 6rem;
  font-size: .18rem;
  color: #333;
  z-index: 1;
  position: relative;
  right: .2rem;
}
.main_3_box_text_txt span{
  font-size: 0.2rem;
  color: #ae2431;
  font-weight: bold;
}
.main_3_box_text_right .main_3_box_text_img{
  left: -0.2rem;
}
.main_3_box_text_right .main_3_box_text_txt{
  right: 0;
  left: .2rem;
}

.main_3_btm{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.3rem;
  font-weight: bold;
  color: #ae2431;
  width: 2.2rem;
  height: .5rem;
  margin: 0.2rem auto;
  border: 2px solid #ae2431;
}
.main_3_btm p{
  position: absolute;
  right: -0.2rem;
  top: 50%;
  margin-top: -0.2rem;
  width: .3rem;
  height: 0.4rem;
  background-color: #f7f1ec;
}
.main_3_btm p span{
  display: block;
  width: 0.3rem;
  height: 0.3rem;
  background: url("../img/main_3_btm.png") no-repeat;
  background-size: contain;
}



.main_4 .title{
  width: 3.2rem;
}

.main_4_box{
  display: flex;
  justify-content: space-evenly;
  margin: .1rem 0;
}
.main_4_box_left,
.main_4_box_right{
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_4_box_left div,
.main_4_box_right div{
  width: 1.1rem;
  z-index: 5;
  position: relative;
}

.main_4_box_left p,
.main_4_box_right p{
  font-size: 0.28rem;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: .5rem;
  border: 2px solid #ae2431;
  border-radius: 1rem;
  z-index: 1;
  position: relative;
}
.main_4_box_left p{
  top: -0.15rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.main_4_box_left div{
  right: .12rem;
}
.main_4_box_right p{
  top: -0.15rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.main_4_box_right div{
  left: .12rem;
}





.main_5{
  padding: 0.3rem 0.15rem;
}
.main_5 .title{
  width: 4.1rem;
}
.main_5_box{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .15rem 0;
}
.main_5_box .main_5_box_red,
.main_5_box .main_5_box_text{
  width: 3rem;
  height: 2.5rem;
}
.main_5_box .main_5_box_red{
  text-align: center;
  color: #f7f1ec;
  background: -webkit-linear-gradient(#db394d, #b72634); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#db394d, #b72634); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#db394d, #b72634); /* Firefox 3.6 - 15 */
  background: linear-gradient(#db394d, #b72634); /* Chrome */
}
.main_5_box .main_5_box_red p{
  font-size: .21rem;
  margin: 0.2rem 0;
  font-weight: bold;
}
.main_5_box .main_5_box_red span{
  display: block;
  font-size: .2rem;
  margin: 0.2rem 0;
}
.main_5_box .main_5_box_red div{
  width: 1rem;
  height: 1rem;
  margin: 0 auto;
}

.main_5_box_text{
  background: -webkit-linear-gradient(#f2f1f1, #e5e4e4); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#f2f1f1, #e5e4e4); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#f2f1f1, #e5e4e4); /* Firefox 3.6 - 15 */
  background: linear-gradient(#f2f1f1, #e5e4e4); /* Chrome */
  font-size: .2rem;
  color: #333;
}
.main_5_box_text div{
  margin: .15rem;
}
.main_5_box_text p{
  border: 1px solid #ae2431;
  margin-right: .1rem;
  height: 0.31rem;
  line-height: 0.31rem;
  width: 1.2rem;
  text-align: center;
  display: inline-block;
}
.main_5_box_text span{
  text-align: left;
}
.main_5_box:last-child .main_5_box_red,
.main_5_box:last-child .main_5_box_text{
  height: 3.3rem;
}
.main_5_box:last-child .main_5_box_red p{
  margin-top: 0.7rem;
}




.main_6{
  padding: 0.3rem 0.15rem;
  overflow: hidden;
}
.main_6 .title{
  width: 3rem;
}

.main_6_top_title{
  margin: 0 auto;
  width: 5rem;
  height: 0.4rem;
  color: #fff;
  font-size: .2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: -webkit-linear-gradient(#db394d, #b72634); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#db394d, #b72634); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#db394d, #b72634); /* Firefox 3.6 - 15 */
  background: linear-gradient(#db394d, #b72634); /* Chrome */
  box-shadow: 0px 2px 5px 2px #ccc;
}
.main_6_box{
  margin: .2rem 0;
  display: flex;
  justify-content: space-evenly;
}
.main_6_box_title{
  width: 2.2rem;
  height: .4rem;
  margin: 0 auto;
  transform: skew(-10deg);
  font-size: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_6_box_left,
.main_6_box_right{
  margin: 0 0.1rem;
}
.main_6_box_left .main_6_box_title{
  background: -webkit-linear-gradient(#db394d, #b72634); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#db394d, #b72634); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#db394d, #b72634); /* Firefox 3.6 - 15 */
  background: linear-gradient(#db394d, #b72634); /* Chrome */
  color: #fff;
  height: 0.41rem;
}
.main_6_box_right .main_6_box_title{
  color: #333;
  border: 1px dashed #333;
}

.main_6_box_text{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .2rem 0;
  border-bottom: 1px dashed #eee;
  padding-bottom: .2rem;
}

.main_6_box_text_img{
  width: .7rem;
  height: .7rem;
  padding: .1rem;
  font-size: .2rem;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin:0 .1rem;
}
.main_6_box_left .main_6_box_text_img{
  background: -webkit-linear-gradient(#db394d, #b72634); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#db394d, #b72634); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#db394d, #b72634); /* Firefox 3.6 - 15 */
  background: linear-gradient(#db394d, #b72634); /* Chrome */
}
.main_6_box_right .main_6_box_text_img{
  background: -webkit-linear-gradient(#e9e7e7, #beb7b7); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#e9e7e7, #beb7b7); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#e9e7e7, #beb7b7); /* Firefox 3.6 - 15 */
  background: linear-gradient(#e9e7e7, #beb7b7); /* Chrome */
}
.main_6_box_text_txt{
  width: 2rem;
  text-align: justify;
  font-size: .2rem;
}
.main_6_box_text_txt span{
  color: #ae2431;
}

.main_6_box_left .main_6_box_text:nth-child(2),
.main_6_box_right .main_6_box_text:nth-child(2){
  min-height: 1.1rem;
}
.main_6_box_left .main_6_box_text:nth-child(3),
.main_6_box_right .main_6_box_text:nth-child(3){
  min-height: 2.3rem;
}
.main_6_box_left .main_6_box_text:nth-child(4),
.main_6_box_right .main_6_box_text:nth-child(4){
  min-height: 1.1rem;
}
.main_6_box_left .main_6_box_text:nth-child(5),
.main_6_box_right .main_6_box_text:nth-child(5){
  min-height: 2.6rem;
}



.advertising_2{
  padding: 0.15rem;
  background: url("../img/advertising_bg.jpg") no-repeat center;
  background-size: cover;
  height: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.advertising_2 .advertising_2_box{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.advertising_2 .advertising_2_left{
  width: 1.3rem;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: .2rem;
}

.advertising_2 .advertising_2_right{
  color: #fff;
}
.advertising_2 .advertising_right_top{
  display: flex;
  justify-content: space-around;
  height: 1.2rem;
}
.advertising_2 .advertising_right_top p{
  font-size: 0.25rem;
  font-weight: bold;
}
.advertising_2 .advertising_right_top p span{
  display: block;
  font-size: .2rem;
  font-weight: normal;
}
.advertising_2 .advertising_right_top div{
  width: 1rem;
  position: relative;
  right: .2rem;
}

.advertising_right_bottom{
  display: flex;
  font-size: .2rem;
  justify-content: space-between;
  font-weight: bold;
}
.advertising_right_bottom a{
  font-size: .2rem;
  background: url("../img/advertising_btm.png") no-repeat center;
  background-size: contain;
  width: 1.4rem;
  height: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: .4rem;
  font-weight: normal;
}



.main_7{
  background: url("../img/main_7_bg.png") no-repeat center;
  background-size: cover;
  padding: .3rem 0.15rem .6rem 0.15rem;
  overflow: hidden;
}
.main_7 .title{
  width: 2.5rem;
}

.main_7_box{
  position: relative;
}
.main_7_box .swiper-container-main-7 {
  width: 100%;
  height: 100%;
}
.main_7_box .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.main_7_box .swiper-slide div{
  position: relative;
  overflow: hidden;
  width: 2.6rem;
  height: 1.8rem;
  border-radius: .1rem;
  margin: 0 .1rem;
}
.main_7_box .swiper-slide img{
  position: absolute;
  top: -0.6rem;
}
.main_7_box .swiper-slide span{
  position: absolute;
  font-size: .2rem;
  color: #fff;
  background-color: #ae2431;
  opacity: .7;
  bottom: 0;
  left: 0;
  width: 100%;
  height: .4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


.main_7_box .swiper-button-next,
.main_7_box .swiper-button-prev{
  background: url("../img/main_7_arrow.png") no-repeat;
  background-size: contain;
  width: .3rem;
  height: .3rem;
  top: 65%;
}
.main_7_box .swiper-button-prev{
  left: 0;
}
.main_7_box .swiper-button-next{
  transform: rotate(180deg);
  right: 0;
}



.main_8{
  padding: .3rem 0.15rem;
}
.main_8 .title{
  width: 2.4rem;
}

.main_8_top{
  position: relative;
  width: 3.8rem;
  height: 2.6rem;
  margin: 0 auto;
}
.main_8_top img{
  position: relative;
  left: .2rem;
  z-index: 5;
  height: 100%;
}
.main_8_top div{
  z-index: 1;
  width: .4rem;
  height: 2.4rem;
  position: absolute;
  left: 0;
  top: .2rem;
  background: -webkit-linear-gradient(#db394d, #b72634); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#db394d, #b72634); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#db394d, #b72634); /* Firefox 3.6 - 15 */
  background: linear-gradient(#db394d, #b72634); /* Chrome */
}

/*.main_8_box{*/
  /*overflow: hidden;*/
/*}*/
.main_8_box .tab_content_main_8 {
  background-color: transparent;
  position: absolute;
  z-index: -1;
  opacity: 0;
  left: 0;
  transform: translateY(-3px);
  border-radius: 6px;
  clear:both
}

.main_8_box .tab_main_8:checked:nth-of-type(1) ~ .tab_content_main_8:nth-of-type(1),
.main_8_box .tab_main_8:checked:nth-of-type(2) ~ .tab_content_main_8:nth-of-type(2),
.main_8_box .tab_main_8:checked:nth-of-type(3) ~ .tab_content_main_8:nth-of-type(3),
.main_8_box .tab_main_8:checked:nth-of-type(4) ~ .tab_content_main_8:nth-of-type(4){
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}

.main_8_tab_top,
.main_8_tab_bottom{
  position: absolute;
  width: .6rem;
  height: .6rem;
}
.main_8_tab_top span,
.main_8_tab_bottom span{
  position: absolute;
  display: block;
  background-color: #ae2431;
}
.main_8_tab_top {
  right: 0;
  top: 0;
}
.main_8_tab_bottom {
  left: 0;
  bottom: 0;
}
.main_8_tab_top span:nth-child(1){
  width: .6rem;
  height: .04rem;
  top: 0.1rem;
  right: 0;
}
.main_8_tab_top span:nth-child(2){
  width: .04rem;
  height: .6rem;
  left: .5rem;
  right: 0;
}

.main_8_tab_bottom span:nth-child(1){
  width: .6rem;
  height: .04rem;
  top: .5rem;
  left: 0;
}
.main_8_tab_bottom span:nth-child(2){
  width: .04rem;
  height: .6rem;
  right: .6rem;
  left: 0.1rem;
}


.main_8_box_main{
  padding: .4rem;
}
.main_8_box_main p:nth-child(1){
  position: relative;
  font-size: .25rem;
  color: #ae2431;
  padding-bottom: 0.1rem;
  border-bottom: 1px solid #eee;
  margin-bottom: .1rem;
}
.main_8_box_main p:nth-child(1)>span{
  display: block;
  width: .4rem;
  height: .04rem;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #ae2431;
}

.main_8_box_main p:nth-child(2){
  font-size: .2rem;
  color: #636363;
}

.main_8_box_main a{
  display: block;
  font-size: .2rem;
  width: 1rem;
  height: .4rem;
  color: #ae2431;
  border: 1px solid #ae2431;
  text-align: center;
  line-height: .4rem;
  margin: .1rem 1rem 0 auto;
}

.main_8_box .tab-wrap input{
  display: none;
}

.main_8_box .tab-wrap label{
  width: 1.4rem;
  height: .8rem;
  display: inline-block;
  text-align: center;
  box-shadow: 0px 0px 1px 0px #999;
  color: #333;
  float: left;
  position: relative;
  font-size: .2rem;
}
.main_8_box .tab-wrap label:nth-child(2){
  margin-left: .3rem;
}

.main_8_box .tab-wrap label div{
  width: .3rem;
  height: .3rem;
  margin: .1rem auto 0 auto;
  background-size: contain !important;
}
.main_8_box .tab-wrap>input[type="radio"]:checked+label{
  background: -webkit-linear-gradient(#db394d, #b72634); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#db394d, #b72634); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#db394d, #b72634); /* Firefox 3.6 - 15 */
  background: linear-gradient(#db394d, #b72634); /* Chrome */
  color: #fff;
}

.main_8_box label:nth-child(2)>div{
  background: url("../img/main_8_tab_1_active.png") no-repeat;
}
.main_8_box label:nth-child(4)>div{
  background: url("../img/main_8_tab_2.png") no-repeat;
}
.main_8_box label:nth-child(6)>div{
  background: url("../img/main_8_tab_3.png") no-repeat;
}
.main_8_box label:nth-child(8)>div{
  background: url("../img/main_8_tab_4.png") no-repeat;
}

.main_8_box .tab-wrap>input[type="radio"]:checked+label:nth-child(2)>div {
  background: url("../img/main_8_tab_1.png") no-repeat;
}
.main_8_box .tab-wrap>input[type="radio"]:checked+label:nth-child(4)>div {
  background: url("../img/main_8_tab_2_active.png") no-repeat;
}
.main_8_box .tab-wrap>input[type="radio"]:checked+label:nth-child(6)>div {
  background: url("../img/main_8_tab_3_active.png") no-repeat;
}
.main_8_box .tab-wrap>input[type="radio"]:checked+label:nth-child(8)>div {
  background: url("../img/main_8_tab_4_active.png") no-repeat;
}



.main_9{
  padding: .3rem 0.15rem;
}
.main_9 .title{
  width: 4.1rem;
}

.main_9_top{
  display: flex;
  justify-content: center;
  color: #979797;
  font-size: .25rem;
}
.main_9_top span{
  position: relative;
  top: .1rem;
  display: inline-block;
  width: 12%;
  height: 0.02rem;
  border-bottom: 1px dashed #ae2431;
}
.main_9_top p{
  width: 230px;
  text-align: center;
}

.main_9_box{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: .2rem;
}
.main_9_box div{
  position: relative;
  width: 2.8rem;
  height: 1.8rem;
  margin: .04rem;
  overflow: hidden;
}
.main_9_box span{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: .36rem;
  background-color: #ae2431;
  color: #fff;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main_9>a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.1rem;
  height: .4rem;
  border: 1px solid #ae2431;
  margin: .2rem auto;
  color: #ae2431;
  font-size: .25rem;
}



.main_10{
  padding: .3rem 0.15rem;
  min-height: 4.6rem;
}
.main_10 .title{
  width: 2.4rem;
}

.main_10_box input{
  display: none;
}

.main_10_box label{
  float: left;
  width: 1.5rem;
  height: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  font-size: .24rem;
  margin-bottom: .2rem;
}
.main_10_box .tab-wrap{
  background: -webkit-linear-gradient(#f5f5f5, #eeeeee); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#f5f5f5, #eeeeee); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#f5f5f5, #eeeeee); /* Firefox 3.6 - 15 */
  background: linear-gradient(#f5f5f5, #eeeeee); /* Chrome */
  height: .5rem;
}
.main_10_box .tab-wrap>a{
  float: right;
  color: #ae2431;
  font-size: .24rem;
  position: relative;
  top: .1rem;
  margin-right: .2rem;
}

.main_10_box .tab-wrap>input[type="radio"]:checked+label{
  background: -webkit-linear-gradient(#db394d, #b72634); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#db394d, #b72634); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#db394d, #b72634); /* Firefox 3.6 - 15 */
  background: linear-gradient(#db394d, #b72634); /* Chrome */
  color: #fff;
}


.main_10_box .tab_content_main_10 {
  background-color: transparent;
  position: absolute;
  z-index: -1;
  opacity: 0;
  left: 0;
  transform: translateY(-3px);
  border-radius: 6px;
  clear: both;
}


.main_10_box .tab_main_10:checked:nth-of-type(1) ~ .tab_content_main_10:nth-of-type(1),
.main_10_box .tab_main_10:checked:nth-of-type(2) ~ .tab_content_main_10:nth-of-type(2){
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}
.tab_content_main_10 ul li{
  margin: .26rem 0;
  border-bottom: 1px solid #eee;
  padding-bottom: .2rem;
}
.tab_content_main_10 ul li a{
  display: flex;
  justify-content: space-between;
  color: #646464;
  font-size: .2rem;
}
.tab_content_main_10 ul li a p span{
  display: inline-block;
  width: .12rem;
  height: .12rem;
  background-color: #ae2431;
  border-radius: 50%;
  margin-right: .1rem;
}
.tab_content_main_10 ul li a p:nth-child(1){
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 4.4rem;
}



.main_11{
  text-align: right;
  height: .6rem;
  line-height: .6rem;
  background: -webkit-linear-gradient(#f5f5f5, #eeeeee); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#f5f5f5, #eeeeee); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#f5f5f5, #eeeeee); /* Firefox 3.6 - 15 */
  background: linear-gradient(#f5f5f5, #eeeeee); /* Chrome */
}
.main_11 a{
  display: inline-block;
  margin-right: .4rem;
  font-size: .2rem;
  color: #727272;
  position: relative;
  top: -.25rem;
}


.main_11 span{
  display: inline-block;
  margin-right: .1rem;
  width: 0;
  height: 0;
  border-bottom: .24rem solid #d1d1d1;
  border-left: .16rem solid transparent;
  border-right: .16rem solid transparent;
}



.footer{
  text-align: center;
  padding: .3rem 0.15rem;
  margin-bottom: .8rem;
}
.footer h2{
  margin-top: .2rem;
  font-size: .25rem;
  color: #1d1d1d;
}
.footer div{
  width: 2rem;
  margin: .2rem auto;
  color: #545454;
  font-size: .2rem;
}
.footer>p{
  font-size: .2rem;
  color: #545454;
}



.footer_nav{
  z-index: 9999;
  width: 100%;
  max-width: 640px;
  position: fixed;
  bottom: 0;
  background: -webkit-linear-gradient(#db394d, #b72634); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#db394d, #b72634); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#db394d, #b72634); /* Firefox 3.6 - 15 */
  background: linear-gradient(#db394d, #b72634); /* Chrome */
}
.footer_nav ul{
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}
.footer_nav ul li{
  flex: 1;
}
.footer_nav ul li{
  height: .8rem;
  text-align: center;
  color: #fdf0f0;
  font-size: 0.16rem;
}
.footer_nav ul li div{
  width: .2rem;
  height: .2rem;
  padding: .02rem;
  margin: .1rem auto;
}