@import '../../../../index'

.label
  padding: rem(5px)
  display: inline-block

.mainLabel
  width: rem(50px)
  height: rem(25px)
  font-size: rem(13px)
  display: table-cell

.startColor
  font-style: normal
  color: $first
  margin-top: rem(-3px)

.leftStart
  padding-right: rem(3px)

.rightStart
  padding-left: rem(3px)