.ag-fresh .ag-header {
  background: #f6f6f6;
  border-bottom: 1px solid #e5e5e5;
  font-weight: 600;
  line-height: 24px;
  color: #555555;
}

div[ref=south] {
  display: none;
}

.ag-fresh .ag-ltr .ag-header-cell {
  border-right: 1px solid #ededed;
}

.ag-fresh .ag-ltr .ag-cell-no-focus {
  //border-right: 1px solid #ececec;
  border-left: 1px solid transparent;
  line-height: 24px;
}

.ag-fresh .ag-body {
  background-color: #fcfdfd;
}

.ag-fresh .ag-row-selected {
  background-color: #BBE0EF !important;
  color: #353535;
}

.ag-fresh .ag-cell-no-focus {
  border-top: 0;
  border-bottom: 0;
}

.ag-fresh .ag-cell-focus {
  border: 0;
  box-shadow: 0 0 1px 1px #3DB5E7 inset;
}

.ag-row.ag-row-no-focus:last-child {
  border-bottom: 1px solid #f0f0f0;
}

.ag-cell.ag-cell-not-inline-editing.ag-cell-value:focus {
  outline: none;
}

.ag-cell.ag-cell-no-focus.ag-cell-last-left-pinned:focus {
  outline: none;
}

.ag-icon.ag-icon-checkbox-unchecked {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: transparent url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/PjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+PHN2ZyB0PSIxNTE0Mjc5ODcwMTYyIiBjbGFzcz0iaWNvbiIgc3R5bGU9IiIgdmlld0JveD0iMCAwIDEwMjQgMTAyNCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHAtaWQ9IjU2NTIiIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCI+PGRlZnM+PHN0eWxlIHR5cGU9InRleHQvY3NzIj48L3N0eWxlPjwvZGVmcz48cGF0aCBkPSJNNzI5LjYgOTY2LjRoLTQ0OGMtMTIxLjYgMC0yMjQtMTAyLjQtMjI0LTIyNHYtNDQ4YzAtMTIxLjYgMTAyLjQtMjI0IDIyNC0yMjRoNDQ4YzEyMS42IDAgMjI0IDEwMi40IDIyNCAyMjR2NDQ4YzAgMTIxLjYtOTYgMjI0LTIyNCAyMjR6IG0tNDQ4LTgzMkMxOTIgMTM0LjQgMTIxLjYgMjA0LjggMTIxLjYgMjk0LjR2NDQ4YzAgODkuNiA3MC40IDE2MCAxNjAgMTYwaDQ0OGM4OS42IDAgMTYwLTcwLjQgMTYwLTE2MHYtNDQ4YzAtODkuNi03MC40LTE2MC0xNjAtMTYwaC00NDh6IiBmaWxsPSIjQ0RDRENEIiBwLWlkPSI1NjUzIj48L3BhdGg+PC9zdmc+) center no-repeat;
  background-size: 100%;
  filter: none;
  cursor: pointer;
  //background: #FFFFFF;
  //border: 1px solid #333;
}

.ag-icon.ag-icon-checkbox-checked {
  display: inline-block;
  width: 16px;
  height: 16px;
  filter: none;
  background: transparent url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/PjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+PHN2ZyB0PSIxNTE0Mjc5ODY2MTA0IiBjbGFzcz0iaWNvbiIgc3R5bGU9IiIgdmlld0JveD0iMCAwIDEwMjQgMTAyNCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHAtaWQ9IjU1MjgiIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCI+PGRlZnM+PHN0eWxlIHR5cGU9InRleHQvY3NzIj48L3N0eWxlPjwvZGVmcz48cGF0aCBkPSJNNzYxLjYgOTY2LjRoLTUxMmMtMTA4LjggMC0xOTItODMuMi0xOTItMTkydi01MTJjMC0xMDguOCA4My4yLTE5MiAxOTItMTkyaDUxMmMxMDguOCAwIDE5MiA4My4yIDE5MiAxOTJ2NTEyYzAgMTA4LjgtODMuMiAxOTItMTkyIDE5MnoiIGZpbGw9IiM0MkFCRDgiIHAtaWQ9IjU1MjkiPjwvcGF0aD48cGF0aCBkPSJNNDg2LjQgNzM2bC0xOTItMjQzLjIgODMuMi02NCAxMDguOCAxNDAuOCAyMTEuMi0yODggODMuMiA2NHoiIGZpbGw9IiNGRkZGRkYiIHAtaWQ9IjU1MzAiPjwvcGF0aD48L3N2Zz4=) 50% no-repeat;
  background-size: 100%;
}

.ag-icon.ag-icon-checkbox-indeterminate {
  display: inline-block;
  width: 16px;
  height: 16px;
  filter: none;
  background: transparent url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/PjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+PHN2ZyB0PSIxNTE0Mjc5ODU3MDE2IiBjbGFzcz0iaWNvbiIgc3R5bGU9IiIgdmlld0JveD0iMCAwIDEwMjQgMTAyNCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHAtaWQ9IjUyNjQiIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCI+PGRlZnM+PHN0eWxlIHR5cGU9InRleHQvY3NzIj48L3N0eWxlPjwvZGVmcz48cGF0aCBkPSJNNzY4IDk2Ni40SDI1NmMtMTA4LjggMC0xOTItODMuMi0xOTItMTkydi01MTJjMC0xMDguOCA4My4yLTE5MiAxOTItMTkyaDUxMmMxMDguOCAwIDE5MiA4My4yIDE5MiAxOTJ2NTEyYzAgMTA4LjgtODMuMiAxOTItMTkyIDE5MnoiIGZpbGw9IiM0MkFCRDgiIHAtaWQ9IjUyNjUiPjwvcGF0aD48cGF0aCBkPSJNMjM2LjggNDY3LjJoNTUwLjR2MTAyLjRIMjM2Ljh6IiBmaWxsPSIjRkZGRkZGIiBwLWlkPSI1MjY2Ij48L3BhdGg+PC9zdmc+) 50% no-repeat;
  background-size: 100%;
}

.ag-cell.ag-cell-not-inline-editing.ag-cell-no-focus.ag-cell-last-left-pinned {
  text-align: center;
  line-height: 24px;
}

.ag-cell.ag-cell-not-inline-editing.ag-cell-no-focus.ag-cell-value {
  text-align: center;
}

.ag-row {
  border-bottom: 0 !important;
  &:last-child {
    .ag-cell {
      border-bottom: 0;
    }
  }
}

.ag-cell {
  height: 100%;
  border-bottom: 1px solid #ececec !important;
  border-right: 1px solid #ececec !important;
  border-top: 0 !important;
}