@import '../../../../index.scss'

.mainRound
  display: flex
  justify-content: space-between
  align-items: center
  width: 100%
  height: rem(30px)
  border: rem(1px) solid $big-border-color
  border-radius: rem(4px)
  overflow: hidden

.leftLabel
  height: 100%
  background-color: $select
  border-right: rem(1px) solid $big-border-color
  white-space: nowrap

.componentStyle
  width: 100%
  display: inline-block

.rightBtn
  height: 100%
  border-left: rem(1px) solid $big-border-color
  float: right
  button
    border: 0
