doctype
html(lang="zh-CN")
    head
        base(href='/')
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0,height=device-height")
        style
            include loading.min.css
        link(rel="stylesheet", href="public/icon/iconfont.css")
        link(rel="stylesheet", href="public/bundle.css")
    body
        #example
            .load_win
                .wBall#wBall_1
                    .wInnerBall
                .wBall#wBall_2
                    .wInnerBall
                .wBall#wBall_3
                    .wInnerBall
                .wBall#wBall_4
                    .wInnerBall
                .wBall#wBall_5
                    .wInnerBall
                .msg="系统启动中..."
        script(type = "text/javascript", src = "public/bundle.js")
        script(type="text/javascript", src="public/icon/iconfont.js")