@import '../../../../../../index.scss';

p, ul {
  margin: 0;
}

$rem30: rem(30px);
$height: rem(30px);
$margin: rem(6px);

.titleDropDownMenu {
  font-size: $font-com-size;
  background-color: $white-block;
  :global {
    .ant-select-dropdown-menu-item {
      font-size: $font-com-size;
      color: $font-main-color;
      padding-top: 0;
      padding-bottom: 0;
      &:hover {
        background-color: $menu-selected;
      }
    }
    .ant-select-dropdown-menu-item-selected {
      background-color: $menu-selected;
    }
  }
}

.timePicker {
  :global {
    .pt-popover-target {
      height: $height;
    }
    .pt-input {
      width: 100%;
      height: 100%;
      box-shadow: none;
      border: rem(1px) solid $big-border-color;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      border-left-color: $input-split-color;
      font-size: $font-com-size;
      color: $font-main-color;
      background: $white-block;
      padding-left: rem(8px);
      &:focus {
        border-color: $border-focus-color;
        box-shadow: 0 0 0 rem(2px) rgba(61, 181, 231, .2);
      }
    }
  }
}

.shiftSelect {
  width: 100%;
  height: 100%;
  border: none;
  box-shadow: none;
  :global {
    .ant-select {
      font-size: $font-com-size;
      color: $font-com-color;
    }
    .ant-select-selection {
      border: none !important;
    }
    .ant-select-selection--single {
      height: $height;
    }
    .ant-select-arrow {
      display: none;
    }
  }
}

.shiftIndex {
  width: 100%;
  height: 100%;
  .search {
    margin-bottom: rem(10px);
    display: flex;
    :global {
      .label-rounded {
        border: none;
        > span {
          font-size: $font-com-size;
          color: $font-main-color;
          padding: 0 rem(8px);
          line-height: rem(28px);
          background: $white-block;
          border: rem(1px) solid $big-border-color;
          border-right: 0;
          border-bottom-left-radius: $border-radius4;
          border-top-left-radius: $border-radius4;
        }
      }
      .ant-select {
        font-size: $font-com-size;
        .ant-select-selection {
          height: $height;
          border: 1px solid $big-border-color;
          color: $font-main-color;
          background: $white-block;
        }
        .ant-select-selection__rendered {
          margin-left: rem(8px);
          margin-right: rem(8px);
        }
      }
      .ant-select-focused > .ant-select-selection {
        border-color: $font-select-color !important;
      }
    }

    .select {
      width: rem(160px);
      margin-right: $margin;
    }
    .transfer {
      margin: 0 $margin 0 0;
      width: rem(176px);
      height: $height;
      background: $white-block;
      display: flex;
      .selLabel {
        height: 100%;
        box-sizing: border-box;
        font-size: $font-com-size;
        color: $font-main-color;
        background: $white-block;
        border: rem(1px) solid $big-border-color;
        border-right: 0;
        border-bottom-left-radius: $border-radius4;
        border-top-left-radius: $border-radius4;
        padding-right: 0;
        span {
          padding: 0 rem(8px);
          height: rem(28px);
          line-height: rem(28px);
        }
      }
      .sel {
        flex: auto;
        :global {
          .ant-select {
            width: 100%;
          }
          .ant-select-selection {
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
            border-left-color: $input-split-color;
          }
        }
      }
    }
    .date {
      width: rem(204px);
      height: $height;
      margin-right: $margin;
      span {
        font-size: $font-com-size;
        color: $font-com-color
      }
      > div {
        height: 100%;
      }
    }
    .btn {
      width: rem(56px);
      height: $height;
      line-height: rem(28px);
      border-radius: $border-radius4;
      font-size: $font-com-size;
      border: rem(1px) solid $button-search-border;
      margin-right: rem(6px);
      letter-spacing: rem(1px);
      i {
        font-size: $font-com-size;
      }
    }
    .searchBtn {
      margin-right: rem(25px);
    }
    .defualtBtn {
      background: $button-search-background;
      border: rem(1px) solid $button-search-border;
      color: $button-search-color;
      &:hover {
        background-color: $button-save-hover-background;
        border-color: $button-save-hover-border;
        color: #fff;
      }
      i:hover {
        color: #fff;
      }
    }
    .blueBtn {
      background-color: $button-add-background;
      border-color: $button-add-border;
      color: #fff;
      &:hover {
        background-color: $button-add-hover-background;
        border-color: $button-add-hover-border;
      }
      i:hover {
        color: #fff;
      }
    }
    .greenBtn {
      background-color: $button-save-background;
      border-color: $button-save-border;
      color: #fff;
      &:hover {
        background-color: $button-save-hover-background;
        border-color: $button-save-hover-border;
      }
      i:hover {
        color: #fff;
      }
    }
  }
  .midTable {
    border: 1px solid $big-border-color;
    border-radius: $border-radius4;
    table {
      border: 0;
    }
    tr > th:last-child, tr > td:last-child {
      border-right: 0;
    }
    tr:hover {
      background-color: $menu-selected !important;
    }
    tbody > tr:last-child > td {
      border-bottom: 0;
    }
    :global {
      .ant-table-thead > tr > th, .ant-table-tbody > tr > td {
        padding: 0;
        text-align: center;
        height: rem(26px);
        font-size: $font-com-size;
      }
      .ant-table-thead > tr > th {
        font-weight: bold;
      }
    }
  }
  .shiftDetail {
    margin-top: rem(10px);
    width: 100%;
    //height: calc(80% - 50px);
    .title {
      height: $rem30;
      background-color: #5591aa;
      display: flex;
      align-items: center;
      padding: 0 rem(6px);
      border-radius: rem(4px) rem(4px) 0 0;
      :global {
        .ant-select-focused > .ant-select-selection {
          border-color: #fff;
        }
      }
      .coverHidden {
        display: none;
      }
      .cover {
        display: block;
        position: fixed;
        width: 100%;
        height: 100%;
        background: transparent;
        top: 0;
        left: 0;
        z-index: 5;
      }
      .shiftBtn {
        position: relative;
        height: rem(20px);
        display: flex;
        margin-right: rem(6px);
        border: rem(1px) solid #71a7be;
        color: #fff;
        font-size: $font-com-size;
        background: #6399af;
        border-radius: $border-radius4;
        cursor: pointer;
        &:hover {
          border-color: #fff;
        }
        > span {
          line-height: rem(20px);
          padding: 0 rem(8px);
        }
        .btnMenuHidden {
          display: none;
        }
        .btnMenu {
          position: absolute;
          color: $font-main-color;
          width: 100%;
          background-color: $white-block;
          display: block;
          top: calc(100% + 5px);
          z-index: 10;
          border-radius: $border-radius4;
          overflow: hidden;
          .checkedRow {
            position: relative;
            //background-color: $menu-selected;
          }
          :global {
            // checkBox
            .ant-checkbox-group {
              width: 100%;
            }
            .ant-checkbox-wrapper {
              width: 100%;
              height: rem(30px);
              color: $font-main-color;
              line-height: rem(30px);
              font-size: $font-com-size;
              margin: 0;
              > span:last-child {
                position: absolute;
                left: 0;
                width: 100%;
                height: 100%;
                padding-left: rem(25px);
              }
              .ant-checkbox-inner {
                width: rem(14px);
                height: rem(14px);
                border-color: $big-border-color;
                &::after {
                  left: rem(3.571429px);
                }
              }
              .ant-checkbox {
                top: rem(7px);
                left: rem(8px);
                z-index: 2;
              }
              .ant-checkbox-checked + span {
                background-color: $menu-selected;
              }
              .ant-checkbox-checked > .ant-checkbox-inner {
                border-color: $border-focus-color;
              }
            }
          }
        }
      }
      .shiftBtnFocus {
        border-color: #fff;
      }
      .shiftBtnRight {
        position: relative;
        width: rem(24px);
        border-left: rem(1px) solid #71a7be;
        .arrow {
          transform: rotate(-90deg);
          width: 100%;
          height: 100%;
          .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            &:hover {
              &::before {
                color: #fff;
              }
            }

          }
        }
        .arrowOpen {
          transform: rotate(90deg) translateY(-6px) translateX(-1px);
        }
      }
      .shiftBtnRightForbid {
        pointer-events: none;
      }
    }

    // 主要表格内容
    .shiftDetailMain {
      width: 100%;
      height: calc(100% - 30px);
      :global {
        .ag-root {
          border: rem(1px) solid #cdcdcd;
          border-top: 0;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          overflow: hidden;
        }
      }
    }
    // 手术图标样式
    .shoushu {
      color: #ff375b;
    }
    // 交接班特殊表格样式
    .shiftTableWrap {
      width: 100%;
      height: 100%;
      border: rem(1px) solid $big-border-color;
      border-top: 0;
      border-bottom-left-radius: $border-radius4;
      border-bottom-right-radius: $border-radius4;
      overflow: hidden;
      .shiftTable {
        width: 100%;
        height: 100%;
        overflow: auto;
      }
      .tableRow {
        width: 100%;
        height: rem(180px);
        display: flex;
        font-size: $font-com-size;
        color: $font-main-color;
        .rowTitle {
          flex: 0 0 rem(30px);
          height: 100%;
          background-color: #48b7e5;
          font-size: $font-com-size;
          font-weight: bold;
          color: #fff;
          position: relative;
          > span {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }
        }
        .row {
          flex: 1;
          .colTitle {
            width: 100%;
            height: rem(26px);
            background-color: #ececec;
            border-bottom: rem(1px) solid $mid-split-color;
            display: flex;
            > div {
              line-height: rem(25px);
              text-align: center;
              font-size: $font-com-size;
              color: $font-main-color;
              font-weight: bold;
            }
          }
          .colTitle, .rowContentCol, .rowContent {
            > div {
              //flex: 1;
              width: 50%;
              border-right: rem(1px) solid $big-split-color;
              &:first-child {
                width: 30%;
              }
              &:last-child {
                width: 20%;
                min-width: rem(250px);
                //flex: 0 0 rem(250px);
                border-right: none;
              }
            }
          }
          .rowContentCol {
            height: calc(100% - 26px);
          }
          .rowContent {
            height: 100%;
          }
          .rowContentCol, .rowContent {
            width: 100%;
            border-bottom: rem(1px) solid $big-split-color;
            display: flex;
            //.fireControl {
            //  height: rem(26px);
            //  border-bottom: rem(1px) solid $mid-split-color;
            //  line-height: rem(25px);
            //  font-weight: bold;
            //  padding-left: rem(10px);
            //}
            .peopleCol {
              .groupWrap {
                width: 100%;
                height: 100%;
              }
              .groupCol {
                width: 100%;
                height: 100%;
                display: flex;
                text-align: center;
                > div:first-child {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  border-right: rem(1px) solid $mid-split-color;
                  border-bottom: rem(1px) solid $mid-split-color;
                  flex: 0 0 rem(50px);
                }
              }
              .people {
                border-bottom: rem(1px) solid $mid-split-color;
                flex: auto;
                display: flex;
                flex-wrap: wrap;
                align-content: flex-start;
                overflow: auto;
                padding: rem(8px) rem(2px) rem(2px) rem(8px);
                > span {
                  width: rem(50px);
                  height: rem(22px);
                  line-height: rem(22px);
                  background-color: #e8f4ff;
                  margin-right: rem(6px);
                  margin-bottom: rem(6px);
                  text-overflow: ellipsis;
                  overflow: hidden;
                  white-space: nowrap;
                }
              }
            }
            .innerRow {
              overflow: auto;
              border-bottom: rem(1px) solid $mid-split-color;
              padding: rem(8px) rem(2px) rem(8px) rem(8px);
              &:last-child {
                border-bottom: 0;
              }
              // 检查检验
              > div {
                height: rem(20px);
                line-height: rem(20px);
                i {
                  margin-right: rem(8px);
                  &::before {
                    font-size: $font-com-size;
                    position: relative;
                    top: rem(-5px);
                  }
                }
                span {
                  display: inline-block;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  box-sizing: border-box;
                  &:last-child {
                    width: calc(100% - 180px);
                    padding-right: rem(6px);
                  }
                }
                div {
                  top: rem(-6px) !important;
                  margin: 0 rem(6px) !important;
                  background-color: #d9d9d9 !important;
                }
              }
            }
            .bedCol {
              // 床位样式
              button {
                width: calc((100% - 72px) / 12);
                height: rem(22px);
                margin: 0 rem(6px) rem(6px) 0;
                line-height: rem(22px);
                padding: 0;
                color: #fff;
                border-radius: $border-radius4;
              }
              .greenBtn {
                border: rem(1px) solid #39a885;
                background-color: #01bf9d;
              }
              .yellowBtn {
                border: rem(1px) solid #e3b512;
                background-color: #ffcc19;
              }
              .orangeBtn {
                border: rem(1px) solid #e0670e;
                background-color: #fa8630;
              }
              .redBtn {
                border: rem(1px) solid #e61515;
                background-color: #ff375b;
              }
            }
            // 检查检验
            .bed {
              width: rem(40px);
            }
            .name {
              width: rem(48px);
            }
            .time {
              width: rem(32px);
            }
          }
        }
        :global {
          // 滚动条样式
          ::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb {
            background-color: transparent;
          }
          ::-webkit-scrollbar {
            width: 0;
            height: 0;
          }
        }
      }
    }
  }
}