@import '../../../../../index';
@import './../../common';

//AG表格每行编辑时样式
.agRowEdit {
  padding: rem(4px) !important;
  box-shadow: none !important;
  text-align: center !important;
  display: flex !important;
  align-items: center !important;
  justify-content: space-around !important;
  > input {
    border: rem(1px) solid #3db5e7;
    border-radius: rem(4px);
    text-align: center;
    font-size: rem(12px);
    padding: 0 rem(2px);
  }
}

.root {
  position: relative;
  //按钮组
  .btnGroup {
    position: absolute;
    top: rem(-37px);
    left: rem(400px);
    padding: rem(3px) 0;
  }
  font-size: rem(12px);
  padding: 0;
  display: flex;
  height: 100%;
  .left {
    width: rem(136px);
    margin-right: rem(8px);
    height: 100%;
    border-left: rem(1px) solid $big-border-color;
    border-right: rem(1px) solid $big-border-color;
    border-bottom: rem(1px) solid $big-border-color;
    .listHeader {
      font-size: rem(12px);
      background-color: $title-bg;
      height: rem(30px);
      line-height: rem(30px);
      padding-left: rem(13px);
      color: #fff;
    }
    .myUl {
      font-size: rem(12px);
    }
    .myLi {
      padding-left: rem(14px);
      height: rem(30px);
      color: $font-main-color;
      display: flex;
      align-items: center;
      position: relative;
      > button {
        padding: 0;
        border: 0;
        background-color: $medical-alter-bg;
        border-radius: rem(rem(2px));
        color: #fff;
        position: absolute;
        right: rem(10px);
        top: rem(9.5px);
        transform: scale(1.2);
        .plus {
          color: $title-bg;
        }
      }
      .btn {
        display: none;
      }
    }
    .myLi:hover {
      background-color: $medical-alter-bg;
      .btn {
        display: block;
      }
    }
  }
  .table {
    width: calc(100% - 144px);
    height: 100%;
    color: #000;
    padding: 0;
    border: rem(rem(1px)) solid #cdcdcd;
    border-radius: rem(rem(4px));
  }
}

.pointer {
  pointer-events: none;
}
