*{
	padding:0; 
	margin: 0;
	list-style: none;
	}
a{
	text-decoration:none;
}


.footer{
	font-size: 16px;
	background: #272727;
	height: 250px;
}

.footer .footer-left ul li:hover{
	color: #fff;
	transition-duration: 0.5s;
}

.footer-left{
	line-height: 100px;
	height: 100px;
	display: inline-block;
	margin-top: 50px;
	width: 90%;
	float: left;
	margin-left: 5%;
	margin-right: 5%;
}
.footer-left ul{
	text-align: left;
	height: 40px;
	float: left;
	width: 100%;
}
.footer-left li{
	float: left;
	line-height: 30px;
	color: #787878;
	margin: 0 15px;
}
.footer-btm li{
	padding-left: 50px;
}

 .footer .title{
	width: 200px;
	margin-top: 0;
	font-size: 22px;
	color: #134e8f !important;
	margin-bottom: 20px;
}

.footer .title:hover{
	color: #2a79d0 !important;
	transition-duration: 0.5s;
}

.footer-btm{
	color: #787878;
	margin-top: 30px;
}





