/*清除样式*/
*{margin: 0;padding: 0;}
ul,li,ol{list-style-type: none}
a{text-decoration: none !important;color: inherit;}
img{width: 100%;display: block}
body {
  margin: 0 auto !important;
  max-width: 640px;
  position: relative;
}
@font-face {
  font-family: ZSXS;
  src: url("../font/ZSXS.ttf");
}



/* 边距 640/15px */
.padding_margin{
  padding: 0 0.15rem;
}


/*查看更多按钮*/
/*无边框*/
.main_box_btm{
  display: block;
  margin: .4rem auto 0 auto;
  width: 1.5rem;
  height: .4rem;
  background-color: #fff;
  border-radius: .1rem;
  text-align: center;
  line-height: .4rem;
  color: #cfa54f;
  font-size: .2rem;
  font-family: "PingFang HK";
  box-shadow: 0 0 .1rem .01rem rgba(187,187,187,0.3);
}
/*边框*/
.main_box_btm_2{
  display: block;
  margin: .5rem auto 0 auto;
  width: 1.5rem;
  height: .4rem;
  border: .01rem solid #cfa54f;
  color: #cfa54f;
  text-align: center;
  line-height: .4rem;
  font-size: .2rem;
  border-radius: .1rem;
}

/*初始化隐藏*/
.box1,.box811,.box511,.box51111,.box51112,.box51113,
.box51121,.box51122,.box51123{
  display:none;
}





/*头部*/
.header_top{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: .2rem 0;
}
.header_top .logo{
  width: .7rem;
}
.header_top .logo img{
  display: block;
}

.logo_text{
  text-align: center;
  color: #cfa54f;
}
.logo_text p:nth-child(1){
  font-size: .25rem;
}
.logo_text p:nth-child(2){
  font-size: .2rem;
  border-top: 1px solid #cfa54f;
}

.header_tel{
  color: #cfa54f;
}
.header_tel p:nth-child(1){
  font-size: .2rem;
}
.header_tel p:nth-child(2){
  font-size: .21rem;
}

.nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.nav ul li{
  text-align: center;
  line-height: .55rem;
  width: 1.58rem;
  height: .55rem;
  font-size: .2rem;
  color: #fff;
  background-color: #cfa54f;
  border: 0.01rem solid #c79944;
}
.nav ul .active{
  background-color: #b47c28;
  border: 0.01rem solid #b47c28;
}



/*主体内容*/
.banner .swiper-container {
  width: 100%;
  height: 100%;
}
.banner .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.banner .swiper-container-horizontal>.swiper-pagination-bullets{
  bottom: -.1rem;
}

.banner .swiper-pagination-bullet{
  border-radius: 0;
  width: .6rem;
  height: .1rem;
  background-color: #000;
  opacity: .3;
}
.banner .swiper-pagination-bullet-active{
  opacity: 1;
  background-color: #fff;
}


.main_1{
  padding: .4rem 0;
}

.title{
  text-align: center;
  margin-bottom: .3rem;
}
.title .title_top{
  display: flex;
  justify-content: center;
  font-size: .5rem;
  color: #111;
  font-family: ZSXS;
}
.title .title_top p{
  margin: 0 .35rem;
}
.title .title_center{
  font-size: .2rem;
  color: #666;
}
.title .title_center p:last-child{
  border-bottom: 0.01rem solid #ae2431;
  padding-bottom: .1rem;
  display: inline-block;
}
.title .title_bottom{
  margin: 0 auto;
  width: .2rem;
  position: relative;
  top: -.05rem;
  padding: 0 .1rem;
  background-color: #fff;
}
.title .title_bottom img{
  width: 80%;
  display: block;
  margin: 0 auto;
}

.main_1 .title_center p{
  letter-spacing: .1rem ;
}

.main_1_box{
  padding: .2rem 0;
  box-shadow: 0 .01rem .1rem -.01rem rgba(207,165,79,0.3);
}
.main_1_box>div{
  display: flex;
  justify-content: center;
}
.main_1_box .main_1_box_top{
  margin-bottom: .2rem;
}
.main_1_box .main_1_box_list{
  width: 2rem;
  font-size: .2rem;
  color: #333;
  text-align: center;
}
.main_1_box .main_1_box_list div{
  height: 1.25rem;
  border-right: 0.01rem solid #f2f2f2;
}
.main_1_box .main_1_box_list:last-child div{
  border: none;
}
.main_1_box .main_1_box_list div img{
  width: 80%;
}
.main_1_box .main_1_box_list div span{
  width: 1.15rem;
  height: 1.15rem;
  border: 0.02rem solid #cfa54f;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}



.main_2{
  background: url("../img/main_2_bg.jpg") no-repeat center bottom;
  background-size: cover;
  padding-top: .6rem;
  padding-bottom: .3rem;
}

.main_2 .title_bottom{
  background-color: #f5f4f5;
}

.main_2_box>div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_2_box .main_2_box_top{
  margin-bottom: .4rem;
}

.main_2_box_list{
  width: 1.8rem;
  height: 2.2rem;
  background-color: #fff;
  box-shadow: 0 0 .1rem .01rem rgba(187,187,187,0.3);
  text-align: center;
  position: relative;
  margin: 0 .1rem;
}
.main_2_box_list_top{
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_2_box_list_top img{
  display: block;
  width: 30%;
}
.main_2_box_list_center{
  font-size: .2rem;
  color: #333;
  font-family: "PingFang HK";
  font-weight: bold;
  margin-bottom: .1rem;
}
.main_2_box_list_bottom{
  font-size: .18rem;
  font-family: "PingFang HK";
  color: #666;
}
.main_2_box_list span{
  width: .6rem;
  height: .04rem;
  background-color: #cfa54f;
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -.3rem;
}


.main_3{
  padding: .5rem 0.15rem;
}



.main_3_box{
  position: relative;
}
.main_3_box ul{
  display: flex;
  justify-content: space-between;
}
.main_3_box ul li{
  width: 1rem;
  height: .4rem;
  font-size: .2rem;
  color: #333;
  text-align: center;
  line-height: .4rem;
  border: 0.01rem solid #cfa54f;
}
.main_3_box ul .active{
  border: 0.01rem solid #cfa54f;
  background-color: #cfa54f;
  color: #fff;
}

.main_3_box .tit{
  overflow: hidden;
}

.main_3_box .swiper-container_main_3 {
  width: 100%;
  height: 100%;
}
.main_3_box .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.main_3_box .swiper-slide .main_3_slide_box{
  margin: .2rem 0;
}
.main_3_box .swiper-slide .main_3_slide_box div{
  width: 2.8rem;
  height: 1.5rem;
  overflow: hidden;
}
.main_3_box .swiper-slide .main_3_slide_box p{
  width: 2.6rem;
  padding: .1rem;
  background-color: #cfa54f;
  color: #fff;
  font-size: .18rem;
  font-family: "PingFang HK";
}

.main_3_box .swiper-container-horizontal>.swiper-pagination-bullets{
  bottom: -0.5rem;
}
.main_3_box .swiper-pagination-bullet{
  width: .12rem;
  height: .12rem;
  margin: 0 .1rem !important;
}
.main_3_box .swiper-pagination-bullet-active{
  background-color: #cfa54f;
}






.main_4{
  background: url("../img/main_4_bg.png") no-repeat center;
  background-size: cover;
  height: 9.5rem;
  padding: .2rem 0;
}

.title_2{
  color: #fff;
  text-align: center;
}
.title_2 .title_2_top{
  font-size: .5rem;
  font-family: ZSXS;
}
.title_2 p{
  font-size: .2rem;
  font-family: "PingFang HK";
  margin: .05rem 0;
}
.title_2 .title_2_bottom{
  display: flex;
  justify-content: center;
  align-items: center;
}
.title_2 .title_2_bottom span{
  display: block;
  width: 1.2rem;
  height: .01rem;
  background-color: #fff;
}
.title_2 .title_2_bottom div{
  width: .2rem;
  margin: 0 .15rem;
}


.main_4_box_list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: .2rem .2rem;
}
.main_4_box_list_top .main_4_box_list_box:nth-child(1),
.main_4_box_list_top .main_4_box_list_box:last-child{
  position: relative;
  top: .6rem;
}

.main_4_box_list .main_4_box_list_box{
  border: .01rem solid #edbb54;
  padding: .05rem;
  border-radius: .1rem;
  background-color: rgba(0,0,0,0.3);
}

.main_4_box_list .main_4_box_list_box .main_4_box_top{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: .1rem;
}
.main_4_box_list .main_4_box_list_box .main_4_box_top span{
  display: inline-block;
  width: .35rem;
  height: .35rem;
  background-color: #edbb54;
  color: #fff;
  font-size: .2rem;
  font-family: Arial;
  text-align: center;
  line-height: .35rem;
  border-radius: .05rem;
  margin-right: .1rem;
}
.main_4_box_list .main_4_box_list_box .main_4_box_top div{
  width: .55rem;
  height: .55rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_4_box_list .main_4_box_list_box .main_4_box_top div img{
  width: 80%;
}
.main_4_box_list .main_4_box_list_box p{
  text-align: center;
  color: #fff;
  font-size: .2rem;
  font-family: "PingFang HK";
  width: 1.4rem;
  height: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_4_box_list_bottom .main_4_box_list_box:nth-child(1),
.main_4_box_list_bottom .main_4_box_list_box:last-child{
  position: relative;
  bottom: .6rem;
}
.main_4_box_list_bottom{
  margin-top: 4.2rem;
}








.main_5{
  padding-bottom: .3rem;
  overflow: hidden;
}
.main_5_top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main_5_top_box{
  border-right: .01rem solid #f2f2f2;
  padding: 0 .35rem;
}
.main_5_top_box:last-child{
  border: none;
}
.main_5_top_box p{
  font-size: .2rem;
  color: #111;
}
.main_5_top_box span{
  font-size: .5rem;
  color: #c39e51;
  font-weight: bold;
}

.main_5_box{
  margin-top: .3rem;
  box-shadow: 0 0 .1rem .01rem rgba(207,165,79,0.3);
}
.main_5_box .wrap{
  position: relative;
}
.main_5_box_bg{
  position: absolute;
  background: url("../img/main_5_box_bg.png") no-repeat;
  background-size: contain;
  width: 2.9rem;
  height: 3.55rem;
  right: .15rem;
  top: -.13rem;
}
/*外层导航*/
.main_5_box #tab51{
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 0 0;
  position: relative;
  top: -.13rem;
}
.main_5_box #tab51 li{
  font-size: .25rem;
  color: #fff;
  background: url("../img/main_5_top_btm.png") no-repeat;
  background-size: contain;
  width: .9rem;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_5_box #tab51 .active{
  background: url("../img/main_5_top_btm_active.png") no-repeat;
  background-size: contain;
}
.main_5_box #tab51 li p{
  width: .6rem;
  position: relative;
  left: .07rem;
  top: -.01rem;
}


/*内层导航*/
.main_5_btm{
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_5_btm li{
  position: relative;
  overflow: hidden;
  margin: 0 .1rem;
}
.main_5_btm li div{
  width: 1.85rem;
  height: 1.25rem;
}
.main_5_btm li img{
  position: absolute;
  left: 0;
  top: -.3rem;
}
.main_5_btm li span{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: .3rem;
  font-size: .2rem;
  color: #fff;
  background-color: rgba(0,0,0,0.5);
  text-align: center;
  line-height: .3rem;
}


.main_5_box_top .tit{
  min-height: 4rem;
  display: flex;
  justify-content: space-between;
}
.main_5_box_left{
  width: 50%;
  position: relative;
  top: -.1rem;
}
.main_5_box_left div{
  display: flex;
  margin-left: .15rem;
}

.main_5_box_left div span{
  width: .3rem;
  height: .38rem;
  display: inline-block;
  position: relative;
  background-color: #fff;
  z-index: 1;
  padding-top: .05rem;
}
.main_5_box_left div span img{
  display: block;
}
.main_5_box_left p{
  position: relative;
  font-size: .25rem;
  color: #cfa54f;
  display: inline-block;
  width: 4rem;
}
.main_5_box_left ul{
  border-left: .01rem solid #cfa54f;
  font-size: .2rem;
  color: #666;
  padding-left: .5rem;
  position: relative;
  left: .15rem;
  top: -.42rem;
  margin-left: .15rem;
}

.main_5_book li:nth-child(3){
  font-weight: bold;
  color: #333;
}





.main_5_box_right{
  width: 50%;
}
.main_5_box_right img{
  width: 80%;
  margin: 0 auto;
  position: relative;
  top: -.95rem;
  right: -.05rem;
}

.main_5_box .swiper-container-horizontal>.swiper-pagination-bullets{
  bottom: 0.4rem;
  height: .3rem;
  left: 0;
  width: 100%;
  z-index: -1;
}
.main_5_box .swiper-pagination-bullet{
  width: .2rem;
  height: .2rem;
  margin: 0 .1rem !important;
}
.main_5_box .swiper-pagination-bullet-active{
  background-color: #cfa54f;
}



.main_6{
  background: url("../img/main_6_bg.jpg") no-repeat bottom;
  background-size: cover;
  padding: .5rem 0;
}
.main_6 .title_2,
.main_7 .title_2{
  color: #111;
}
.main_6 .title_2 span,
.main_7 .title_2 span{
  background-color: #ae2431;
}

.main_6_box{
  overflow: hidden;
  position: relative;
  margin-top: .6rem;
  padding-bottom: .2rem;
}

.main_6_box .swiper-container_main_6 {
  width: 100%;
  height: 100%;
}
.main_6_box .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.main_6_slide_box{
  width: 1.86rem;
  height: 1.15rem;
  margin: .1rem;
}

.main_6_box .swiper-container-horizontal>.swiper-pagination-bullets{
  bottom: -.3rem;
}

.main_6_box .swiper-pagination-bullet{
  width: .12rem;
  height: .12rem;
  margin: 0 .1rem !important;
}
.main_6_box .swiper-pagination-bullet-active{
  background-color: #fff;
}


.main_7{
  padding: .6rem 0.15rem;
}

.main_7_top{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: .5rem;
}
.main_7_top_left{
  width: 3.85rem;
  position: relative;
  left: .3rem;
}
.main_7_top_right{
  text-align: center;
  letter-spacing: .2rem;
  font-size: .6rem;
  color: #cfa54f;
  font-family: "PingFang HK";
  font-weight: lighter;
  transform: rotate(90deg);
  position: relative;
}
.main_7_top_right span{
  display: inline-block;
  position: absolute;
  width: .7rem;
  height: .6rem;
  border-left: .01rem solid #cfa54f;
  border-top: .01rem solid #cfa54f;
}
.main_7_top_right span:nth-child(1){
  left: 0;
}
.main_7_top_right span:last-child{
  right: 0;
  bottom: 0;
  transform: rotate(180deg);
}


.main_7_center{
  box-shadow: 0 0 .1rem .01rem rgba(207,165,79,0.3);
  margin-top: .5rem;
  padding: .15rem;
}
.main_7_center_title{
  position: relative;
  padding: .05rem 0;
}
.main_7_center_title p{
  position: relative;
  left: .3rem;
}
.main_7_center_title p:nth-child(2){
  font-size: .25rem;
  color: #111;
}
.main_7_center_title p:last-child{
  font-size: .1rem;
  color: #333;
  letter-spacing: .04rem;
}
.main_7_center_title span{
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  width: .8rem;
  height: 100%;
  z-index: -1;
  background-color: #fcd687;
}

.main_7_center_text{
  font-size: .2rem;
  color: #666;
  margin-top: .1rem;
  padding-left: .3rem;
  text-align: justify;
}

.main_7_center_bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: .2rem;
}

.main_7_center_bottom span{
  display: inline-block;
  width: 4.1rem;
  height: .01rem;
  background-color: #cfa54f;
  margin-left: .3rem;
}

.main_7_center_bottom a{
  width: 1.25rem;
  height: .35rem;
  background-color: #cfa54f;
  color: #fff;
  text-align: center;
  line-height: .35rem;
  font-size: .2rem;
}


.main_7_bottom{
  box-shadow: 0 0 .1rem .01rem rgba(207,165,79,0.3);
  margin-top: .3rem;
  padding: .15rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.main_7_bottom_box{
  width: 2.5rem;
  padding: .1rem;
  height: 1.3rem;
}

.main_7_bottom_box:nth-child(1),
.main_7_bottom_box:nth-child(2){
  border-bottom: 0.01rem solid #f2f2f2;
  padding-bottom: .1rem;
}
.main_7_bottom_box:nth-child(1),
.main_7_bottom_box:nth-child(3){
  border-right: 0.01rem solid #f2f2f2;
  padding-right: .1rem;
}

.main_7_bottom_box_title{
  position: relative;
  height: .65rem;
  margin-left: .2rem;
}
.main_7_bottom_box_title span{
  position: absolute;
  left: 0;
  top: -.05rem;
  width: .5rem;
  height: .65rem;
  background-color: #fcd687;
  display: inline-block;
  z-index: -1;
}
.main_7_bottom_box_title p{
  margin-left: .2rem;
}
.main_7_bottom_box_title p:nth-child(2){
  font-size: .25rem;
  color: #333;
}
.main_7_bottom_box_title p:last-child{
  font-size: .1rem;
  color: #333;
  text-transform: uppercase;
  margin-left: .2rem;
}

.main_7_bottom_box_text{
  font-size: .16rem;
  color: #666;
  margin-left: .2rem;
}



.main_8{
  padding-bottom: .3rem;
}
.main_8 .title_2{
  color: #111;
}
.main_8 .title_2 .title_2_bottom span{
  background-color: #ae2431;
}

.main_8_box{
  margin-top: .5rem;
}
.main_8_box #tab81 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_8_box #tab81 li{
  font-size: .25rem;
  color: #cfa54f;
  border: .01rem solid #cfa54f;
  margin: 0 .15rem;
  padding: 0 .1rem;
}
.main_8_box #tab81 .active{
  background-color: #cfa54f;
  color: #fff;
}


.main_8_box .tit{
  margin-top: .2rem;
  padding: 0 .15rem;
}

.main_8_news_top a{
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: .01rem solid #f2f2f2;
  border-bottom: .01rem solid #f2f2f2;
}
.main_8_news_top_img{
  width: 1.95rem;
  margin-right: .2rem;
}
.main_8_news_top_text{
  width: 4rem;
}
.main_8_news_top_text_title{
  display: flex;
  justify-content: space-between;
}
.main_8_news_top_text_title p{
  font-size: .25rem;
  color: #cfa54f;
  font-weight: bold;
}
.main_8_news_top_text_title span{
  font-size: .16rem;
  color: #999;
}

.main_8_news_top_txt{
  font-size: .2rem;
  color: #999;
}

.main_8_news_list li{
  margin: .2rem 0;
}
.main_8_news_list li a{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #999;
}
.main_8_news_list li span{
  display: inline-block;
  width: .1rem;
  height: .1rem;
  background-color: #cfa54f;
  margin-right: .1rem;
}
.main_8_news_list li p:nth-child(1){
  font-size: .2rem;
}
.main_8_news_list li p:last-child{
  font-size: .16rem;
}


.main_8_news_question li{
  margin: .15rem 0;
  border-top: .01rem solid #f2f2f2;
  border-bottom: .01rem solid #f2f2f2;
  padding: .15rem 0;
}
.main_8_news_question li a span{
  display: inline-block;
  height: .3rem;
  width: .3rem;
  color: #fff;
  text-align: center;
  line-height: .3rem;
  margin-right: .1rem;
}
.main_8_news_question li a p:nth-child(1){
  font-size: .2rem;
  color: #666;
  margin-bottom: .1rem;
}
.main_8_news_question li a p:nth-child(1) span{
  background-color: #666666;
}
.main_8_news_question li a p:nth-child(2){
  font-size: .2rem;
  color: #999;
}
.main_8_news_question li a p:nth-child(2) span{
  background-color: #cfa54f;
}

.main_8 .main_box_btm_2{
  background-color: #cfa54f;
  color: #fff;
}



.footer_top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ae8738;
  padding: .2rem .15rem;
}

.footer_top_left{
  width: 1.7rem;
  height: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: .01rem solid #f2f2f2;
}
.footer_top_left img{
  width: 80%;
}

.footer_top_center{
  font-size: .16rem;
  color: #fff;
}
.footer_top_center p{
  margin: .1rem 0;
}
.footer_top_center p:nth-child(1){
  font-size: .2rem;
  font-weight: bold;
}


.footer_top_right{
  width: 1.5rem;
  font-size: .16rem;
  color: #fff;
  text-align: center;
}
.footer_top_qr{
  width: 1rem;
  margin: 0 auto;
}

.footer_bottom{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: .16rem;
  color: #fff;
  padding: .05rem 0;
  background-color: #9d742b;
}