/*清除样式*/
*{margin: 0;padding: 0;}
ul,li,ol{list-style-type: none}
a{text-decoration: none !important;color: inherit;}
img{width: 100%;}
input[type="button"],
input[type="submit"],
input[type="reset"] {
  -webkit-appearance: none;
}
textarea {
  -webkit-appearance: none;
}
input:focus,
textarea:focus {
  outline: none;
}
input:focus{
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  -webkit-user-modify:read-write-plaintext-only;
}
input::-ms-clear {
  display: none;
}


body {
  margin: 0 auto !important;
  font-weight: 300;
}


html {
  font-size: 62.5%;
  background-color: #eee;
}

@media only screen and (min-width: 481px) {
  html {
    font-size:94%!important
  }
}

@media only screen and (min-width: 561px) {
  html {
    font-size:109%!important
  }
}

@media only screen and (min-width: 641px) {
  html {
    font-size:125%!important
  }

  body {
    max-width: 640px
  }
}


.header{
  z-index: 999;
  position: fixed;
  height: 3.5rem;
  line-height: 3.5rem;
  top: 0;
  width: 100%;
  padding: .5rem 0;
  font-size: 1.8rem;
  text-align: center;
  border-bottom: 1px solid #ddd;
  font-weight: 400;
  background-color: #fff;
}

.header span{
  background: url("../img/back.png") no-repeat;
  background-size: contain;
  position: absolute;
  display: block;
  left: 0;
  top: 50%;
  margin-top: -1rem;
  height: 2rem;
  width: 2rem;
  margin-left: 1rem;
}

.section{
  margin: 5rem 0;
}

.section .address{
  padding: .75rem 0.75rem;
  line-height: 3rem;
  background-color: #fff;
}

.address_top{
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
}
.address_top span{
  color: #999;
}
.address_bottom{
  font-size: 1.4rem;
}
.address_bottom ul{
  display: inline-block;
}
.address_bottom ul li{
  display: inline-block;
}



.addAddress{
  margin: 0.5rem 0;
  background-color: #fff;
  padding: 1rem 0.75rem;
  font-size: 1.6rem;
  line-height: 3rem;
}


.information{
  margin: 0.5rem 0;
  background-color: #fff;
}
.information_title{
  font-size: 1.8rem;
  padding-left: 0.75rem;
  line-height: 3.5rem;
  border-bottom: 1px solid #eee;
}

.information_main{
  padding: 2rem 0.75rem;
}
.information_main a{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.information_main_left{
  width: 70%;
}

.information_main_left_img{
  width: 5rem;
  height: 5rem;
  background-color: #eee;
  display: inline-block;
  margin-right: 1rem;
}
.information_main_left_text{
  display: inline-block;
  vertical-align: top;
  font-size: 1.4rem;
}

.information_main_right{
  width: 30%;
  text-align: right;
  color: #999;
  font-size: 1.4rem;
}

.information_main_right p:nth-child(1){
  font-size: 1.2rem;
}

.express{
  padding: 1rem 0.75rem;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
  font-size: 1.6rem;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.express p{
  font-size: 1.2rem;
  width: 20%;
}

.express select {
  width: 80%;
  height: 3rem;
  font-size: 1rem;
  border: none;
  background-color: #fff;
  appearance:none;
  -moz-appearance:none;    /*for firefox*/
  -webkit-appearance:none;    /*for chrome*/
  direction: rtl;
  outline:none;
}
.express select option {
  text-align: center;
}


.message{
  background-color: #fff;
  padding: 0.75rem;
  font-size: 1.4rem;
}

.message textarea{
  width: 100%;
  border: 1px solid #eee;
  border-radius: .2rem;
  height: 5rem;
  font-size: 1rem;
  box-shadow: none;
}
.message div{
  display: block;
  text-align: right;
  color: #999;
  font-size: 1.2rem;
}

.footer{
  z-index: 999;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #ddd;
  background-color: #fff;
  height: 5rem;
  line-height: 5rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
}
.footer_left{
  display: inline-block;
  width: 70%;
  text-align: right;
  padding-right: 1rem;
}
.footer_left p{
  display: inline-block;
}
.footer_right{
  display: inline-block;
  width: 30%;
  height: 5rem;
  background-color: #c1d733;
  text-align: center;
}
.footer_right a{
  display: inline-block;
  width: 100%;
  height: 100%;
}




/*地址管理*/
.address_main{
  border-bottom: 1px solid #ddd;
  margin-top: 5rem;
}
.address_btm{
  font-size: 1.4rem;
  padding: 0 0.75rem;
  height: 4rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.address_btm p{
  width: 60%;
  font-size: 1.2rem;
  color: #000;
}
.address_btm>div{
  width: 40%;
  display: flex;
  justify-content: space-evenly;
}
.address_btm>div>div{
  border: 1px solid #999;
  padding: .2rem 1rem;
  border-radius: .2rem;
  font-size: 1.4rem;
  color: #333;
}

.addAddress_btm{
  display: block;
  margin: 1rem auto;
  width: 80%;
  background-color: #c1d733;
  color: #fff;
  height: 3.5rem;
  text-align: center;
  line-height: 3.5rem;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  outline:none;
  border: none;
}



/*新增收货地址*/
.addAddress_main>div{
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: stretch;
  padding: 1.5rem 0;
  align-items: center;
  font-size: 1.4rem;
}
.addAddress_main>div p{
  padding-left: 0.75rem;
  width: 25%;
  text-align-last: justify;
  margin-right: 1rem;
}
.addAddress_main>div p span{
  width: 100%;
  display: inline-block;
  text-align: justify;
}
.addAddress_main div input{
  display: inline-block;
  outline:none;
  border: none;
  height: 100%;
  width: 65%;
}

.content-block{
  width: 60%;
}

.addAddress_main div .city{
  width: 70%;
  display: flex;
  justify-content: space-evenly;
}
.addAddress_main div .city select{
  flex: 1;
  outline:none;
  border-radius: 0;
  border: none;
  height: 100%;
  background-color: #fff;
  font-size: 1.2rem;
  appearance:none;
  -moz-appearance:none;    /*for firefox*/
  -webkit-appearance:none;    /*for chrome*/
}