@import '../../../../index'
// 普通下部提示框样式制定
.normalTip
  padding: 20px 20px 20px 40px !important
  h2[class='swal2-title']
    margin: 0 !important
  div[class='swal2-content']
    color: $font-com-color
  div[class*='swal2-icon']
    transform: scale(.3)
    position: absolute
    top: -33px
    left: -22px
  // 成功图标
  div[class*='swal2-success-ring']
    border-color: #50c774 !important
  span[class*='swal2-success-line-tip']
    background-color: #50c774 !important
  span[class*='swal2-success-line-long']
    background-color: #50c774 !important
  // 警告图标
  div[class*='swal2-warning']
    color: #f6842f !important
    border-color: #f6842f !important



