@import '../../../../../index';

.approvedMain {
  width: 100%;
  height: 100%;
  font-size: rem(12px);
  color: $font-main-color;
  padding: rem(10px) rem(12px);
  background-color: $white-default;
}

.approvedTitle {
  width: 100%;
  height: rem(30px);
  margin-bottom: rem(10px);
  display: flex;
  align-items: center;
  > button {
    height: rem(30px);
    width:rem(56px);
    padding: 0 rem(4px);
    font-size: rem(12px);
    border-color: $button-save-border;
    > i {
      padding-right: rem(5px);
      font-size: $font-com-size;
    }
    &:hover, &:focus {
      background-color: $button-save-hover-background;
      border-color: $button-save-hover-border;
    }
  }
}

.approvedTable {
  width: 100%;
  height: calc(100% - 40px);
  box-sizing: border-box;
  border-radius: rem(4px);
  border: 1px solid $big-border-color;
  background-color: $white-block;
  :global{
    .ag-header-row{
      background-color: #ececec;
    }
   .ag-header-cell{
     border-right-color: $mid-split-color !important;
   }
  }
}

.smallCom {
  display: flex;
  align-items: center;
  margin: 0 rem(10px);
  > b {
    padding: 0 rem(10px);
  }
  > div > label {
    font-size: rem(12px);
    color: $font-main-color
  }
  :global {
    span.ant-radio + * {
      padding-left: rem(5px);
      padding-right: 0;
    }
  }
}

//body 复选框
.tableCheck {
  position: relative;
  :global {
    .ag-cell-wrapper {
      position: absolute;
      width: rem(14px);
      height: rem(14px);
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
    }
    .ag-icon {
      width: rem(14px) !important;
      height: rem(14px) !important;
    }
    .ag-selection-checkbox {
      display: block;
      padding-right: 0 !important;
    }
  }
}

.refuseReason {
  > div[class*='ant-modal-header'] {
    padding: rem(8px) rem(15px);
  }
  > div[class*='ant-modal-body'] {
    padding: rem(10px) rem(15px) 0 rem(15px);
  }
  > button {
    > span {
      width: rem(38px);
      height: rem(38px);
      line-height: rem(38px);
    }
  }
  > div[class*='ant-modal-footer'] {
    border: 0 !important;
    padding: rem(8px) rem(15px);
  }
}

// 时间
.timePicker {
  > span {
    > div {
      > div {
        > input {
          box-shadow: none;
          border: 1px solid #cdcdcd;
          background-color: $white-block;
        }
        &:nth-of-type(2) {
          &:before {
            top: rem(6px)
          }
        }
      }
    }
  }
}

// 表格头部复选框
.headerCheck {
  //表头复选框
  height: 100%;
  position: relative;
  :global {
    .ag-header-cell-resize {
      display: none;
    }
    .ag-header-select-all {
      padding: 0 !important;
      position: absolute;
      width: rem(14px);
      height: rem(14px);
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
    }
    .ag-checkbox-unchecked {
      width: rem(14px);
      height: rem(14px);
      display: block;
      .ag-icon {
        width: rem(14px);
        height: rem(14px);
      }
    }
    .ag-checkbox-checked {
      .ag-icon {
        width: rem(14px);
        height: rem(14px);
      }
    }
    .ag-checkbox-indeterminate {
      .ag-icon {
        width: rem(14px);
        height: rem(14px);
      }
    }
  }
}
