@import '../../../../../index';

.catalogueHeader {
  width: 100%;
  height: 100%;
  line-height: 30px;
  :global {
    .ant-input {
      font-size: $font-com-size;
      color: $font-main-color;
      padding: 0 rem(8px);
      border-color: $big-border-color;
      &::-webkit-input-placeholder {
        font-size: $font-com-size;
        color: $font-un-color;
      }
    }
  }
  .timePicker {
    width: rem(240px);
    height: 100%;
    float: left;
    margin-right: rem(6px);
    :global {
      .pt-popover-open {
        > .pt-control-group {
          border-color: $font-select-color;
          box-shadow: 0 0 0 2px rgba(24, 144, 255, .2);
        }
      }
      .pt-control-group {
        width: 100%;
        height: rem(30px);
        border: rem(1px) solid $big-border-color;
        border-radius: rem(4px);
        overflow: hidden;
        background-color: $white-block;
        &:after {
          content: '\E6BB';
          font-family: 'anticon', sans-serif;
          font-size: $font-com-size;
          color: rgba(0, 0, 0, .25);
          display: inline-block;
          line-height: rem(28px);
          position: absolute;
          right: rem(8px);
          z-index: 9;
        }
        .pt-input-group:nth-child(2) {
          margin-left: rem(10px) !important;
          &::before {
            left: rem(-8px);
            font-size: $font-com-size;
            color: $font-un-color;
          }
        }
      }
      .pt-input-group {
        width: calc((100% - 38px) / 2);
        &:after {
          display: none;
        }
      }
      .pt-input {
        height: rem(28px) !important;
        line-height: rem(28px);
        border: none !important;
        background-color: $white-block;
        text-align: center;
        color: $font-main-color;
        font-size: $font-com-size;
        &:focus {
          box-shadow: none !important;
        }
        &::-webkit-input-placeholder {
          color: $font-un-color;
        }
      }
    }
  }
  .box {
    width: rem(219px) !important;
    height: 100%;
    float: left;
    border: none;
    margin-right: rem(6px);
    :global {
      .ant-layout-sider {
        min-width: 0 !important;
        flex: rem(65px) !important;
        border: rem(1px) solid $big-border-color;
        border-right: none;
        border-top-left-radius: rem(4px);
        border-bottom-left-radius: rem(4px);
        overflow: hidden;
      }
      .ant-layout-content {
        width: calc(100% - 65px);
        .ant-input {
          height: 100%;
          border-color: $big-border-color;
          border-left-color: $input-split-color;
          border-bottom-left-radius: 0;
          border-top-left-radius: 0;
          background-color: $white-block;
          &:focus {
            border-color: $font-select-color;
          }
        }
      }
    }
    .label {
      width: 100%;
      padding: 0 rem(8px);
      font-size: $font-com-size !important;
      background-color: $white-block;
    }
  }
  .numInput {
    width: rem(184px);
    height: rem(30px);
    float: left;
    margin-right: rem(9px);
    .innerInput {
      height: 100%;
    }
  }
  .radioGroup {
    height: rem(30px);
    float: left;
    margin-right: rem(6px);
    :global {
      .ant-radio-wrapper {
        height: rem(30px);
        line-height: rem(30px);
        font-size: $font-com-size !important;
      }
      span[class*='ant-radio'] {
        padding-right: 0 !important;
        padding-left: rem(5px) !important;
      }
      .ant-radio-inner {
        width: rem(14px) !important;
        height: rem(14px) !important;
        &:after {
          width: rem(6px);
          height: rem(6px);
          opacity: 1;
          transform: scale(.875);
          background-color: $font-un-color;
        }
      }
    }
  }
  //按钮样式
  .btn {
    width: rem(56px);
    height: rem(30px);
    padding: 0;
    font-weight: normal;
    font-size: $font-com-size;
    border-color: #c4c4c4;
    color: $font-com-color;
    background-color: #e5e5e5;
    margin-right: rem(24px);
    &:focus {
      background-color: #e5e5e5;
      border-color: #c4c4c4;
      color: $font-com-color;
    }
    &:hover {
      border-color: #3091b9;
      color: #fff;
      background-color: #37a3d0;
    }
    :global {
      .iconfont {
        font-size: $font-com-size;
      }
    }
    span {
      margin-left: rem(2px) !important;
    }
    i {
      vertical-align: initial !important;
    }
  }
  .greenBtn {
    background-color: #3db5e7;
    border-color: #2f9fce;
    color: #fff;
    &:focus {
      background-color: #3db5e7;
      border-color: #2f9fce;
      color: #fff;
    }
    &:hover {
      border-color: #3091b9;
      color: #fff;
      background-color: #37a3d0;
    }
  }
}
