@import '../../../../index.scss';

.labelBox {
  border: 1px solid $big-border-color;
  width: 100%;
  height: 26px;
  > div {
    width: 100%;
    height: 100%;
    background: white;
  }
}

.label {
  padding: 0 rem(5px);
  background: $select;
  width: 100%;
  height: 100%;
  > i {
    float: none;
  }
}
